{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
  <h3 class="text-white my-5">About Page</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, architecto laborum ea quo, iste sint accusantium aliquid, consequatur neque porro et asperiores reprehenderit
        . Accusantium eveniet quaerat explicabo voluptatum beatae tempore dignissimos voluptates aut in exercitationem, deleniti, modi possimus quisquam voluptatem.
    </p>
    <p>Lorem ipsum dolor sit amet consecte
        tur adipisicing elit. Sint, a sapiente? Ea autem porro quidem vero, maxime temporibus pariatur delectus veniam, magnam blanditiis deleniti mollitia odio consectetur magni soluta sed recusandae vel laborum, cupiditate quisquam voluptate 
        molestias? Non recusandae nostrum adipisci! Mollitia, nihil. Quod delectus odio amet perspiciatis nihil commodi minima aspernatur dolores, iste consequatur dolorum facilis 
        molestiae ratione accusantium.</p>
  
</div>

{% endblock content %}


