body{
    background-color: rgb(14, 13, 13);
    color: antiquewhite;
}
.form-control{
  background-color: rgb(177, 168, 168);
}
.jumbo-colors{
    background-color:rgb(83,81,81);
    color: white;
}
